<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ list_detail.name }}</h1>
            <p><a href="{% url 'todo_list_update' list_detail.id %}">Edit</a></p>
            <p><a href="{% url 'todo_list_delete' list_detail.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todoitem in list_detail.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' todoitem.id %}">{{ todoitem.task }}</a></td>
                        <td>{{ todoitem.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
